<launch>
	<node name="localization" pkg="handle_detector" type="handle_detector_localization" output="screen">
		<!-- affordance search parameters -->
    <param name="file" value="" />
		<param name="target_radius" value="0.04" />
		<param name="target_radius_error" value="0.015" />
		<param name="affordance_gap" value="0.001" />
		<param name="sample_size" value="10000" />		
		<param name="use_clearance_filter" value="false" />
		<param name="use_occlusion_filter" value="false" />
    <param name="curvature_estimator" value="0" />
		<param name="point_cloud_source" value="1" />
		<param name="update_interval" value="600.0" />
		
		<!-- alignment parameters -->
		<param name="alignment_runs" value="4" />
		<param name="alignment_min_inliers" value="6" />
		<param name="alignment_dist_radius" value="0.04" />
		<param name="alignment_orient_radius" value="0.4" />
		<param name="alignment_radius_radius" value="0.003" />
				
		<!-- workspace limits -->
		<param name="max_range" value="1.9" />
    <param name="workspace_min_x" value="-5.0" />
		<param name="workspace_max_x" value="5.0" />
		<param name="workspace_min_y" value="-5.0" />
		<param name="workspace_max_y" value="5.0" />
		<param name="workspace_min_z" value="0.5" />
		<param name="workspace_max_z" value="0.74" />
		
		<!-- number of threads to use -->
		<param name="num_threads" value="2" />
	</node>
</launch>
